doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title BBMS
  link(rel='stylesheet' href='style.css' type='text/css')
a(href='/reg/')
  span
  span
  span
  span
  |         Register
a(href='/login/')
  span
  span
  span
  span
  |         Login
