doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  link(rel='stylesheet' href='style_login.css' type='text/css')
form.box(action='/login/homepage' method='GET')
  h1 Login
  input(type='text' placeholder='Username' name='username')
  input(type='password' placeholder='Password' name='password')
  input(type='submit' value='Login')
